
{% extends 'base_generic.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
  <meta charset="utf-8">



{% block content %}
    {% for course in courses %}
        <h6>{{course.title}}</h6>
    {% endfor %}
    <form method="post" class = 'form'>
        {% csrf_token %}
        {% for field in form %}
            <div>
               {{field.title}} {{field}}
            </div>
        {% endfor %}
        <input type="submit" value="отправить"/>
    </form>
{% endblock %}
